@import "tailwindcss";

:root {
  --bg-primary: #f8f7fc;
  --bg-secondary: #ffffff;
  --bg-accent: #d9d6f8;

  --text-primary: #1e293b;
  --text-secondary: #64748b;

  --accent-primary: #7c6cf6;
  --accent-hover: #6957f5;
}

body {
  margin: 0;
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: "Plus Jakarta Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-site {
  background: var(--bg-primary);
}

.bg-panel {
  background: var(--bg-secondary);
}

.bg-accent-panel {
  background: var(--bg-accent);
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.btn-primary {
  background: var(--accent-primary);
  color: white;
  border-radius: 12px;
  padding: 12px 24px;
  font-weight: 600;
  transition: 0.2s;
}

.btn-primary:hover {
  background: var(--accent-hover);
}